$color-primary:#5a73fc;
$color-primary-light:#8e9efc;
$color-primary-dark:#1c3eff;
$color-grey:#777777;
$color-grey-1:#626262;
$color-white:#fff;
$color-white-1:rgb(241, 230, 230);
$color-black:#000;
$grid-width:114rem;
$gutter-vertical:8rem;
$gutter-vertical-small:5rem;
$gutter-horizontal:6rem;
$color-grey-light-1:#cca3a3;
$defaut-font-size:1.6rem;
$color-secondary-light: #ffb900; //Màu Cam
$color-secondary-dark: #ff7730;

$color-tertiary-light:#55c57a; // Màu xanh lá cây
$color-tertiary-dark:#26b55d;
$color-grey-dark-1:#333;
$color-green: rgba(85, 206, 79, 1);
$color-green-1: rgb(53, 203, 46);
$color-yellow: #ffbb00;
$color-lightcyan:#E0FFFF;
